# Treat all Dart files as Dart
*.dart linguist-language=Dart

# Treat any leftover C++ files as plain text (so they don’t affect stats)
*.cpp linguist-language=Text
*.h linguist-language=Text
*.hpp linguist-language=Text
*.c linguist-language=Text
